.slick-dots li button:before {
    font-size: 15px;
}

.slick-dots li button::before {
    font-size: 14px;
    color: #69AFC0;
  }
  
.slick-dots li.slick-active button:before {
    color: #69AFC0;
    
}

.page-enter-active, .page-leave-active {
    transition: .2s;
    margin-top: 0px;
  }
.page-enter, .page-leave-to {
opacity: 0;
margin-top: 20px;
}


@media only screen and (max-width: 450px) {
    body {
        width: 100% !important;
    }
}
