.slick-dots li button:before {
    font-size: 15px;
}

.slick-dots li button::before {
    font-size: 14px;
    color: #69AFC0;
  }
  
.slick-dots li.slick-active button:before {
    color: #69AFC0;
    
}

body {
    width: 450px;
}

@media only screen and (max-width: 420px) {
    body {
        width: 100% !important;
    }
}